<VirtualHost *:80>
  ServerName sandbox.local
  DocumentRoot /vagrant/sandbox.local/
</VirtualHost>
<VirtualHost *:80>
  ServerName hello.local
  DocumentRoot /vagrant/hello.local/htdocs
</VirtualHost>
<VirtualHost *:80>
  ServerName test.local
  DocumentRoot /vagrant/test.local/htdocs
</VirtualHost>
